/* REGISTER */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'PT MONO', monospace;
    color: #000000;
     /* Menambahkan efek blur 5 piksel */
}
@keyframes moveBackground {
    0% {
        background-position: 0% 1%;
        
    }
    100% {
        background-position: 100% 50%;
        
    }
}

body {
    /* Latar belakang dengan gradient */
    background: linear-gradient(22deg, rgba(251,0,95,1) 0%, rgba(57,33,94,1) 47%, rgba(37,80,130,1) 100%);
    
    /* Properti animasi */
    animation: moveBackground 5s linear infinite; /* Mengubah durasi menjadi 5 detik */
}
@media (min-width: 1025px) {
    .h-custom {
    height: 100vh !important;
    }
    }
    .card-registration .select-input.form-control[readonly]:not([disabled]) {
    font-size: 1rem;
    line-height: 2.15;
    padding-left: .75em;
    padding-right: .75em;
    }
    .card-registration .select-arrow {
    top: 13px;
    }
     
    .bg-indigo {
        background: #fff;
    }
    @media (min-width: 992px) {
    .card-registration-2 .bg-indigo {
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    }
    }
    @media (max-width: 991px) {
    .card-registration-2 .bg-indigo {
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    }
    }