/* Default */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'PT MONO', monospace;
}
.container{
    padding-bottom: 80px ;
}
.hero {
    width: 100%;
    /* min-height: 100vh; */
    background-color: #eceaff;
    color: #000000; /* Ubah nilai warna teks menjadi hitam (#000000) */
}
nav {
    background: #ffff;
    width: 100%;
    padding: 10px 10%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

.logo {
    width: 120px;
}

nav ul {
    display: flex;
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    margin: 0 20px;
}

nav ul li a {
    text-decoration: none;
    color: #000000;
}
nav ul li a:hover {
    color: #000000;
    text-decoration: underline;
}

span {
    color: #000000;
    text-decoration: none;
    margin-top: 5px;
}
.bawah{
    width: 100%;
    /* min-height: 100vh; */
    background-color: #eceaff;
    color: #000000; /* Ubah nilai warna teks menjadi hitam (#000000) */
}
.footer {
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 40px 10%;
    background-color: #000000;
    color: white;
    display:flex;
    justify-content: space-between;
    
}


.footer .info-work {
    /* Gaya CSS untuk .info-work */
    display: flex;
    align-items: center;
    padding:0px 20px
}
.footer .btn {
    padding: 10px 20px; /* Atur padding atas dan bawah 10px, padding kanan dan kiri 20px */
}
.container-menu {

    min-height: 100vh;
    display: flex;
    align-items: center;
    margin:0px 200px;
}



/* FEATURES */
.container-menu h2 {
    flex: 2; /* Biarkan elemen h2 mengisi sisa ruang yang tersedia */
    padding: 0px;
}
.artwork-container {
    padding: 10px 10px;
    font-size:medium;
    text-align: left;
    transition: box-shadow 0.3s ease; /* Animasi perubahan bayangan selama 0.3 detik */
}
.artwork-container:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); /* Menambahkan bayangan saat mengarahkan kursor mouse */
}
.artwork-image {
    width: 300px;
    height: 300px;
    object-fit: cover;
}

.artist-info {
    display: flex;
    margin-top: 20px;
}
.artist-info .release{
    padding-top: 0px;
    padding-right:20px;
    margin-left: auto; /* Memindahkan elemen .release ke kanan */
    text-align: right;
}

.artist{
    width: 50px;
    border-radius: 100%;
}


/* MARKET */
.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.container-market {
    width: 23%; /* Lebar setiap item */
    margin: 10px; /* Jarak antara item */
}

.marketplace {
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 10px;
}

.market-img img {
    width: 100%; /* Gambar mengisi lebar container */
    height: auto; /* Menjaga proporsi gambar */
    border-radius: 20px;
}

.market-info {
    margin-top: 20px;
    display: flex; /* Menggunakan flexbox untuk menata elemen-elemen bersebelahan */
    align-items: center;
}

.price {
    margin-left: auto;
    text-align: right;
    color: green;
}

/* ADD ARTS */
.card{
    width:400px;
    background-color:#fff;
    border:none;
    border-radius: 12px
}

.form-control{
    margin-top: 10px;
    height: 48px;
    width: 100%;
    border: 2px solid #eee;
    border-radius: 10px
}
.form-control:focus{
    box-shadow: none;
    border: 2px solid #039BE5
}
.form-file{
    cursor: pointer;
    margin-top: 10px;
    height: 48px;
    width: 100%;
    border: 2px solid #eee;
    border-radius: 10px
}
.form-file[type="file"] {
    height: 48px;
    width: 100%;
    border: 2px solid #eee;
    border-radius: 10px; /* Sudut yang melengkung */
    padding-right: 220px;
    box-sizing: border-box;
}

.form-file[type="file"]::-webkit-file-upload-button {
    width: 100%;
    padding: 10px;
    border: none;
    background-color: rgb(23, 23, 23);
    color: #fff;
    border-radius: 10px; /* Sudut yang melengkung pada tombol "Choose File" */
    cursor: pointer;
}

.form-file[type="file"]::-webkit-file-upload-button:hover {
    background-color: rgb(37, 37, 37);
    color: #fff;
}
.agree-text{
    font-size: 12px
}
.terms{
    font-size: 12px;
    text-decoration: none;
    color: #039BE5;
}
.confirm-button{
    height: 50px;
    border-radius: 10px
}

/* DETAIL */
.container-detail{
    width: 100%;
    display: flex;
   
    justify-content: left;
}
.container-detail{
    padding:100px 0px;
    width: 100%;
    display: flex;
    justify-content: left;
    margin: 20px 20px;
}
.container-detail-sub{
    padding:10px 20px;
}

.container-detail-sub{
    margin: 10px 10px;
}

.container-detail-sub p img{
    padding-left: 0px;
}

.image-container {
    display: flex;
    align-items: center;
    padding:10px 0px;
}

.artist {
    padding-left: 10px;
    margin-right: 10px;
}

